
<div ng-repeat="profile in profiles">
	<a ng-click="selectProfile(profile)">{{profile}}</a>
</div>

<div ng-show="selectedProfile">
	{{selectedProfile}}
	<a ng-click="logOut()">Log out</a>

	<div ng-repeat="campaign in campaigns">
		<a ng-click="selectCampaign(campaign)">{{campaign}}</a>
	</div>

	<div ng-show="selectedCampaign">	
		Playing: {{selectedCampaign}} </br>
		Show levels according to status...
		<div class="row">
			<canvas ng-scope-element="gameCanvas"></canvas>
		</div>
		<div class="row">
			<div class="span-md-6">
				<textarea ng-model="aiCode"></textarea>
			</div>
			<div class="span-md-6">
				This could be graphical editor.
			</div>
		</div>
	</div>

</div>

<a ui-sref="home">Test game</a>